{
  "openapi": "3.1.0",
  "info": {
    "title": "GainTrace API",
    "version": "1.0.0",
    "description": "The GainTrace REST API (v1). Read your customer data and push product-usage events, metric events, and signals into GainTrace.\n\nAll endpoints are authenticated with a Bearer API key and scoped to a single workspace."
  },
  "servers": [
    {
      "url": "https://app.gaintrace.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Returns the workspace's companies, most-recently-updated first.\n\n**Scope:** `read:companies`",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "name": "healthStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "healthy",
                "at_risk",
                "churning"
              ]
            }
          },
          {
            "name": "segment",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "plan",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Case-insensitive match on name or domain.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of companies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Company"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "operationId": "upsertCompany",
        "summary": "Create or update a company",
        "tags": [
          "Companies"
        ],
        "description": "Creates a company, or updates the existing one with the same `externalId` (upsert).\n\n**Scope:** `write:companies`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyUpsert"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing company updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Company created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/signals": {
      "get": {
        "operationId": "listSignals",
        "summary": "List signals",
        "description": "Returns non-dismissed signals for the workspace, most-recent first.\n\n**Scope:** `read:signals`",
        "tags": [
          "Signals"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of signals.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SignalListItem"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "operationId": "createSignal",
        "summary": "Create a signal",
        "description": "Records a signal against a company in the workspace.\n\n**Scope:** `write:signals`",
        "tags": [
          "Signals"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignalCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Signal created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/events": {
      "post": {
        "operationId": "ingestProductEvents",
        "summary": "Ingest product events",
        "description": "Ingests a batch of product-usage events (Segment-style). Feeds health, signals, and activation recompute.\n\nAccepts server keys (`gt_live_`, scope `write:events`) or client-safe browser keys (`gt_pub_`, scope `write:ingest`). Public ingest is CORS-enabled.\n\n**Scope:** `write:events` or `write:ingest` \u00b7 **Max 1000 events per request.**",
        "tags": [
          "Ingest"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "events"
                ],
                "properties": {
                  "events": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1000,
                    "items": {
                      "$ref": "#/components/schemas/ProductEvent"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Events accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "inserted": {
                          "type": "integer"
                        },
                        "duplicates": {
                          "type": "integer"
                        },
                        "linked": {
                          "type": "integer"
                        },
                        "errors": {
                          "type": "integer"
                        }
                      }
                    },
                    "validation_errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventValidationError"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/metric-events": {
      "post": {
        "operationId": "ingestMetricEvents",
        "summary": "Ingest metric events",
        "description": "Ingests a batch of typed metric events into the metrics engine (feeds daily snapshots that calc metrics evaluate). Idempotent on `(source, externalId)`; duplicates are skipped silently. Returns a per-event outcome.\n\n**Scope:** `write:events` \u00b7 **1\u2013500 events per request.**",
        "tags": [
          "Ingest"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MetricEventBatch"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch processed. See `outcomes` for per-event status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "integer"
                        },
                        "ingested": {
                          "type": "integer"
                        },
                        "duplicate": {
                          "type": "integer"
                        },
                        "rejected": {
                          "type": "integer"
                        }
                      }
                    },
                    "outcomes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MetricEventOutcome"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "tags": [
          "Companies"
        ],
        "description": "Fetch one company by UUID or `ext:<externalId>`.\n\n**Scope:** `read:companies`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "The company.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "operationId": "updateCompany",
        "summary": "Update a company",
        "tags": [
          "Companies"
        ],
        "description": "Update mutable fields on an existing company.\n\n**Scope:** `write:companies`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated company.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/signals/{id}": {
      "get": {
        "operationId": "getSignal",
        "summary": "Get a signal",
        "tags": [
          "Signals"
        ],
        "description": "Fetch one signal by id.\n\n**Scope:** `read:signals`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "The signal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Signal"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "operationId": "updateSignal",
        "summary": "Update a signal",
        "tags": [
          "Signals"
        ],
        "description": "Update a signal's title, description, severity, snooze, or metadata.\n\n**Scope:** `write:signals`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignalPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated signal.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Signal"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "operationId": "dismissSignal",
        "summary": "Dismiss a signal",
        "tags": [
          "Signals"
        ],
        "description": "Soft-deletes (dismisses) the signal.\n\n**Scope:** `write:signals`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "204": {
            "description": "Dismissed."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/signals/batch": {
      "post": {
        "operationId": "createSignalsBatch",
        "summary": "Create signals in bulk",
        "tags": [
          "Signals"
        ],
        "description": "Create up to 1000 signals. Partial success: each item reports its own outcome.\n\n**Scope:** `write:signals`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1000,
                    "items": {
                      "$ref": "#/components/schemas/SignalCreate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-item outcomes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BatchOutcome"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "received": {
                          "type": "integer"
                        },
                        "succeeded": {
                          "type": "integer"
                        },
                        "failed": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "description": "List contacts, optionally scoped to one account or email.\n\n**Scope:** `read:contacts`",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contact"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "operationId": "createContact",
        "summary": "Create a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Create a contact under an account. Email is unique per workspace (409 on conflict).\n\n**Scope:** `write:contacts`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Fetch one contact.\n\n**Scope:** `read:contacts`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "The contact.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Update mutable contact fields.\n\n**Scope:** `write:contacts`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated contact.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Contact"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Permanently delete a contact.\n\n**Scope:** `write:contacts`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "tags": [
          "Webhooks"
        ],
        "description": "List the workspace's webhook subscriptions.\n\n**Scope:** `read:webhooks`",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Webhook"
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Meta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create a webhook",
        "tags": [
          "Webhooks"
        ],
        "description": "Register a webhook subscription. The signing `secret` is returned only in this response.\n\n**Scope:** `write:webhooks`",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created (includes the one-time secret).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WebhookCreated"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/webhooks/{id}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get a webhook",
        "tags": [
          "Webhooks"
        ],
        "description": "Fetch one webhook.\n\n**Scope:** `read:webhooks`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update a webhook",
        "tags": [
          "Webhooks"
        ],
        "description": "Update url, events, headers, description, or active state.\n\n**Scope:** `write:webhooks`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Webhook"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete a webhook",
        "tags": [
          "Webhooks"
        ],
        "description": "Delete a webhook and its delivery history.\n\n**Scope:** `write:webhooks`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    },
    "/webhooks/{id}/test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Send a test event",
        "tags": [
          "Webhooks"
        ],
        "description": "Send a signed `ping` to the endpoint now and return the result.\n\n**Scope:** `write:webhooks`",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery result.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "deliveryId": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "delivered",
                            "failed"
                          ]
                        },
                        "responseStatus": {
                          "type": [
                            "integer",
                            "null"
                          ]
                        },
                        "error": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeout"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer API key. Secret server keys start with `gt_live_`; client-safe browser keys start with `gt_pub_` (write-only, origin-pinned). Create and scope keys in Settings \u2192 API Keys."
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Max rows to return. Default 50, max 100.",
        "schema": {
          "type": "integer",
          "default": 50,
          "maximum": 100,
          "minimum": 1
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Rows to skip (pagination).",
        "schema": {
          "type": "integer",
          "default": 0,
          "minimum": 0
        }
      },
      "pathId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Resource UUID. For companies you may also pass `ext:<externalId>` to address by your external id.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request could not be parsed (for example, malformed JSON).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "bad_request",
                "message": "Invalid JSON body",
                "doc_url": "https://docs.gaintrace.com/errors#bad_request"
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed, expired, or revoked API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "unauthorized",
                "message": "Missing Authorization header",
                "doc_url": "https://docs.gaintrace.com/errors#unauthorized"
              }
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "A plan limit was reached, or billing is locked. Upgrade or enable pay-as-you-go.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "payment_required",
                "message": "Monthly event limit reached. Upgrade or enable overage billing.",
                "doc_url": "https://docs.gaintrace.com/errors#payment_required"
              }
            }
          }
        }
      },
      "Forbidden": {
        "description": "The key is valid but lacks the required scope, the origin is not allowed, or API v1 is not enabled for the workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "forbidden",
                "message": "Insufficient scope: write:companies required",
                "doc_url": "https://docs.gaintrace.com/errors#forbidden"
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "The resource, or a resource you referenced, was not found in this workspace.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "not_found",
                "message": "Company not found",
                "doc_url": "https://docs.gaintrace.com/errors#not_found"
              }
            }
          }
        }
      },
      "Conflict": {
        "description": "The request conflicts with an existing resource (for example, a duplicate email).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "conflict",
                "message": "A contact with this email already exists in the workspace",
                "doc_url": "https://docs.gaintrace.com/errors#conflict"
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "The request was well-formed but a value failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "unprocessable_entity",
                "message": "Request validation failed. name: name is required",
                "doc_url": "https://docs.gaintrace.com/errors#unprocessable_entity"
              }
            }
          }
        }
      },
      "RateLimited": {
        "description": "The per-key rate limit was exceeded. Back off and retry.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded. Maximum 120 requests per minute per API key.",
                "doc_url": "https://docs.gaintrace.com/errors#rate_limit_exceeded"
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "An unexpected error occurred on our side. The failure is logged; retry shortly.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "internal_server_error",
                "message": "Something went wrong. Try again in a moment.",
                "doc_url": "https://docs.gaintrace.com/errors#internal_server_error"
              }
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "A backing service (for example, the database) was temporarily unavailable. Retry shortly.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "service_unavailable",
                "message": "We had trouble reaching the database. Try again in a moment.",
                "doc_url": "https://docs.gaintrace.com/errors#service_unavailable"
              }
            }
          }
        }
      },
      "GatewayTimeout": {
        "description": "The request took too long upstream before completing. Retry, and reduce batch size for large payloads.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "gateway_timeout",
                "message": "The request timed out. Try again in a moment.",
                "doc_url": "https://docs.gaintrace.com/errors#gateway_timeout"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Meta": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "count": {
            "type": "integer",
            "description": "Number of rows in this page."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "description": "The standard error envelope. Every 4xx/5xx response uses this shape.",
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "bad_request",
                  "unauthorized",
                  "payment_required",
                  "forbidden",
                  "not_found",
                  "conflict",
                  "unprocessable_entity",
                  "rate_limit_exceeded",
                  "internal_server_error",
                  "service_unavailable",
                  "gateway_timeout"
                ],
                "description": "Stable, machine-readable error code. Each code maps to exactly one HTTP status."
              },
              "message": {
                "type": "string",
                "description": "Human-readable, safe description of what went wrong. Never contains internal or provider detail."
              },
              "doc_url": {
                "type": "string",
                "format": "uri",
                "example": "https://docs.gaintrace.com/errors#not_found",
                "description": "Deep link to this code in the Errors reference."
              }
            }
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "A canonical company record. Health, counts, and timestamps are read-only.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your stable external id (unique per workspace). Used for upsert."
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": [
              "string",
              "null"
            ]
          },
          "industry": {
            "type": [
              "string",
              "null"
            ]
          },
          "employeeCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "plan": {
            "type": [
              "string",
              "null"
            ]
          },
          "segment": {
            "type": [
              "string",
              "null"
            ]
          },
          "region": {
            "type": [
              "string",
              "null"
            ]
          },
          "location": {
            "type": [
              "string",
              "null"
            ]
          },
          "lifecycleStage": {
            "type": [
              "string",
              "null"
            ]
          },
          "ownerEmail": {
            "type": [
              "string",
              "null"
            ]
          },
          "arr": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Annual recurring revenue in integer minor units of `currency`."
          },
          "mrr": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Monthly recurring revenue in integer minor units of `currency`."
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "description": "ISO 4217 code. Null = workspace reporting currency."
          },
          "contractStartDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "contractEndDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "autoRenew": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "healthScore": {
            "type": [
              "number",
              "null"
            ],
            "description": "0-100 (read-only)."
          },
          "healthStatus": {
            "type": "string",
            "enum": [
              "healthy",
              "at_risk",
              "churning"
            ],
            "description": "Read-only."
          },
          "contactCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "dealCount": {
            "type": [
              "integer",
              "null"
            ]
          },
          "isPhantom": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "lastActivityAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Signal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/SignalType"
          },
          "severity": {
            "$ref": "#/components/schemas/SignalSeverity"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "snoozed",
              "dismissed"
            ],
            "description": "Derived from dismiss/snooze timestamps."
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "snoozedUntil": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "dismissedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          }
        }
      },
      "SignalCreate": {
        "type": "object",
        "required": [
          "accountId",
          "type",
          "severity",
          "title"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Must belong to your workspace."
          },
          "type": {
            "$ref": "#/components/schemas/SignalType"
          },
          "severity": {
            "$ref": "#/components/schemas/SignalSeverity"
          },
          "title": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true,
            "description": "Arbitrary JSON, max 10KB serialized."
          }
        }
      },
      "SignalType": {
        "type": "string",
        "enum": [
          "usage_drop",
          "usage_spike",
          "feature_adoption",
          "support_ticket",
          "payment_failed",
          "expansion_signal",
          "nps_response",
          "contract_renewal",
          "login_inactive",
          "champion_left"
        ]
      },
      "SignalSeverity": {
        "type": "string",
        "enum": [
          "info",
          "warning",
          "critical"
        ]
      },
      "ProductEvent": {
        "type": "object",
        "required": [
          "event_name",
          "timestamp"
        ],
        "properties": {
          "event_name": {
            "type": "string",
            "maxLength": 255,
            "description": "The event identifier, e.g. `report_exported`."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "ISO 8601 event time."
          },
          "account_id": {
            "type": "string",
            "description": "Company/account external id or UUID."
          },
          "user_id": {
            "type": "string",
            "description": "End-user id."
          },
          "anonymous_id": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "event_category": {
            "type": "string"
          },
          "feature_name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "source_event_id": {
            "type": "string",
            "description": "Idempotency key for dedup."
          },
          "value": {
            "type": "number"
          },
          "unit": {
            "type": "string"
          },
          "is_programmatic": {
            "type": "boolean"
          },
          "properties": {
            "type": "object",
            "description": "Arbitrary JSON, max 10KB serialized.",
            "additionalProperties": true
          }
        }
      },
      "EventValidationError": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Index of the offending event in the batch."
          },
          "error": {
            "type": "string"
          }
        }
      },
      "MetricEventBatch": {
        "type": "object",
        "required": [
          "events"
        ],
        "properties": {
          "source": {
            "type": "string",
            "enum": [
              "script",
              "api",
              "segment",
              "pendo",
              "mixpanel",
              "import",
              "system"
            ],
            "default": "api"
          },
          "strict": {
            "type": "boolean",
            "default": false,
            "description": "When true, reject events whose `eventName` is not registered in event definitions."
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "maxItems": 500,
            "items": {
              "$ref": "#/components/schemas/MetricEvent"
            }
          }
        }
      },
      "MetricEvent": {
        "type": "object",
        "required": [
          "eventName",
          "occurredAt"
        ],
        "description": "Provide exactly one company key (`companyId` OR `companyExternalId`). Contact attribution is optional.",
        "properties": {
          "companyId": {
            "type": "string",
            "format": "uuid",
            "description": "Account UUID. Provide this or `companyExternalId`."
          },
          "companyExternalId": {
            "type": "string",
            "description": "Account slug/CRM id; resolves to a company. Provide this or `companyId`."
          },
          "enduserId": {
            "type": "string",
            "format": "uuid"
          },
          "enduserEmail": {
            "type": "string",
            "format": "email"
          },
          "eventName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          },
          "properties": {
            "type": "object",
            "additionalProperties": true,
            "description": "Optionally shape-validated against the event definition."
          },
          "externalId": {
            "type": "string",
            "maxLength": 200,
            "description": "Idempotency key; repeats are skipped silently."
          }
        }
      },
      "MetricEventOutcome": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "ingested",
              "duplicate",
              "rejected"
            ]
          },
          "error": {
            "type": "string"
          },
          "eventLogId": {
            "type": "integer"
          }
        }
      },
      "CompanyUpsert": {
        "type": "object",
        "required": [
          "name"
        ],
        "description": "Create or update a company. Upserts on `externalId` (defaults to a slug of `name`).",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1
          },
          "externalId": {
            "type": "string",
            "maxLength": 100,
            "description": "Upsert key. Defaults to a slug of the name."
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "industry": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "plan": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "segment": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "lifecycleStage": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30
          },
          "ownerEmail": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "employeeCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "arr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Integer minor units."
          },
          "mrr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Integer minor units."
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[A-Z]{3}$",
            "maxLength": 3,
            "description": "ISO 4217 code or null."
          },
          "contractStartDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "contractEndDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "autoRenew": {
            "type": "boolean"
          }
        }
      },
      "CompanyPatch": {
        "type": "object",
        "description": "Any subset of the writable company fields. `healthScore`/`healthStatus`/counts are read-only.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1
          },
          "domain": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "industry": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "plan": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "segment": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "region": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "location": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "lifecycleStage": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 30
          },
          "ownerEmail": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "employeeCount": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          },
          "arr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Integer minor units."
          },
          "mrr": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Integer minor units."
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[A-Z]{3}$",
            "maxLength": 3,
            "description": "ISO 4217 code or null."
          },
          "contractStartDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "contractEndDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "autoRenew": {
            "type": "boolean"
          }
        }
      },
      "SignalPatch": {
        "type": "object",
        "description": "Any subset of the mutable signal fields.",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 500,
            "minLength": 1
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 5000
          },
          "severity": {
            "$ref": "#/components/schemas/SignalSeverity"
          },
          "snoozedUntil": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Snooze until this time, or null to unsnooze."
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": true
          }
        }
      },
      "BatchOutcome": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "created",
              "failed"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "error": {
            "type": "string"
          }
        }
      },
      "ContactRole": {
        "type": "string",
        "enum": [
          "decision_maker",
          "champion",
          "end_user",
          "billing",
          "influencer",
          "executive_sponsor",
          "technical",
          "other"
        ]
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "The golden account this contact belongs to."
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email"
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your stable user id (for event resolution)."
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "role": {
            "type": [
              "string",
              "null"
            ]
          },
          "contactRole": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ContactRole"
              },
              {
                "type": "null"
              }
            ]
          },
          "isChampion": {
            "type": [
              "boolean",
              "null"
            ]
          },
          "linkedinUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ]
          },
          "lastSeenAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "engagementScore": {
            "type": [
              "number",
              "null"
            ],
            "description": "Read-only."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ContactCreate": {
        "type": "object",
        "required": [
          "accountId",
          "name"
        ],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid",
            "description": "Golden account UUID; must belong to your workspace."
          },
          "name": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "description": "Unique per workspace.",
            "maxLength": 255
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "contactRole": {
            "$ref": "#/components/schemas/ContactRole"
          },
          "isChampion": {
            "type": "boolean"
          },
          "linkedinUrl": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        }
      },
      "ContactPatch": {
        "type": "object",
        "description": "Any subset of the mutable contact fields.",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "format": "email",
            "description": "Unique per workspace.",
            "maxLength": 255
          },
          "externalId": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "phone": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 50
          },
          "role": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100
          },
          "contactRole": {
            "$ref": "#/components/schemas/ContactRole"
          },
          "isChampion": {
            "type": "boolean"
          },
          "linkedinUrl": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          },
          "avatarUrl": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 2000
          }
        }
      },
      "WebhookEvent": {
        "type": "string",
        "enum": [
          "company.created",
          "company.updated",
          "contact.created",
          "contact.updated",
          "contact.deleted",
          "signal.created",
          "member.invited",
          "member.joined"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Subscribed events, or `[\"*\"]` for all."
          },
          "active": {
            "type": "boolean"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom headers sent with each delivery. Values are redacted (`***`) in responses."
          },
          "secretPrefix": {
            "type": "string",
            "description": "First chars of the signing secret. Full secret is returned only at creation."
          },
          "consecutiveFailures": {
            "type": "integer"
          },
          "disabledAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Set when auto-disabled after sustained failures."
          },
          "lastSuccessAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WebhookCreate": {
        "type": "object",
        "required": [
          "url",
          "events"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 500,
            "description": "HTTPS only; may not resolve to a private/reserved address."
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/WebhookEvent"
                },
                {
                  "const": "*"
                }
              ]
            },
            "description": "Subscribed events, or `[\"*\"]`."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Optional custom headers (e.g. an auth token). Reserved/signing headers are rejected. Max 20, 4KB total."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          }
        }
      },
      "WebhookPatch": {
        "type": "object",
        "description": "Any subset. Setting `active:true` also clears the auto-disable failure state.",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 500
          },
          "events": {
            "type": "array",
            "minItems": 1,
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/WebhookEvent"
                },
                {
                  "const": "*"
                }
              ]
            }
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255
          },
          "active": {
            "type": "boolean"
          }
        },
        "minProperties": 1
      },
      "WebhookCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "The signing secret, returned ONCE. Store it now."
              }
            }
          }
        ]
      },
      "SignalListItem": {
        "type": "object",
        "description": "Subset returned by the list endpoint. GET /signals/{id} returns the full Signal.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "$ref": "#/components/schemas/SignalType"
          },
          "severity": {
            "$ref": "#/components/schemas/SignalSeverity"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Companies",
      "description": "Read and manage canonical company records."
    },
    {
      "name": "Signals",
      "description": "Read, create, and manage buyer / risk signals."
    },
    {
      "name": "Ingest",
      "description": "Push product-usage and metric events into GainTrace."
    },
    {
      "name": "Contacts",
      "description": "Read and manage the people on an account."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to workspace events with signed, retried delivery."
    }
  ]
}
